body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
td,
th {
  vertical-align: middle;
}

.shadow-border {
  border-radius: 5px;
  box-shadow: 1px 1px 11px 3px rgb(130 130 130 / 70%);
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: red;
}
